@page "/categories"
@inject HttpClient Http

<h1>Chuck Norris jokes</h1>

<p>The component gives you the categories of Chuck Norris jokes </p>


@if (jokes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in jokes.results)
            {
                <tr>
                    <td><a href=@category.cat> @category.cat</a></td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {

    chuckNorrisResult jokes;

    protected override async Task OnInitializedAsync()
    {
        jokes = await Http.GetFromJsonAsync<chuckNorrisResult>("https://api.chucknorris.io/jokes/categories");
    }

    class chuckNorrisJokeCategory
    {
        public string[] cat { get; set; }
    }
    class chuckNorrisResult
    {
        public int count { get; set; }
        public string next { get; set; }
        public string previous { get; set; }
        public chuckNorrisJokeCategory[] results { get; set; }
    }

}